.standardBorder{
    border: 3px solid #e6e6e6;
}
.comboBox * {
    border: none ! important;
    font-family: EYInterstate;
    background-color: transparent;
}

.comboBox .sapUiIcon {
    border: none ! important;
    color: #b2b2b2 ! important;
    background: transparent ! important;
}

::placeholder {
    color: red ! important;
    color: #b2b2b2 ! important;
    font-style: normal ! important;
    font-family: EYInterstate;
}

.comboBox *:active {
    border: none ! important;
}
.reducedHeight{
    height: 90% !important;
}